/.idea
/.phpintel
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
storage/framework/cache/data/44/d1/44d142505dd1a3b497197e2f459d2aec779e9ed6
storage/framework/cache/data/c2/4f/c24f92750673b2169c8cb7bfbc999cfa8457dc7c
